---
import * as icons from "simple-icons";
import { type SocialLinkProps } from "@/site.config";

interface Props {
    social: SocialLinkProps["platform"]; // used for aria label
    href: string;
    text?: string;
    class?: string;
}

const { social, href, text = "", class: className } = Astro.props as Props;

let iconClasses: string = "p-0.5";

const emailSVG = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M17.834 6.166a8.25 8.25 0 1 0 0 11.668.75.75 0 0 1 1.06 1.06c-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788 3.807-3.808 9.98-3.808 13.788 0A9.722 9.722 0 0 1 21.75 12c0 .975-.296 1.887-.809 2.571-.514.685-1.28 1.179-2.191 1.179-.904 0-1.666-.487-2.18-1.164a5.25 5.25 0 1 1-.82-6.26V8.25a.75.75 0 0 1 1.5 0V12c0 .682.208 1.27.509 1.671.3.401.659.579.991.579.332 0 .69-.178.991-.579.3-.4.509-.99.509-1.671a8.222 8.222 0 0 0-2.416-5.834ZM15.75 12a3.75 3.75 0 1 0-7.5 0 3.75 3.75 0 0 0 7.5 0Z" clip-rule="evenodd" />
    </svg>`;

const defaultSVG = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
    </svg>`;

// Map social names to their respective SimpleIcons
const iconMap: Record<string, string> = {
    "500px": icons.si500px.svg,
    applemusic: icons.siApplemusic.svg,
    bandcamp: icons.siBandcamp.svg,
    behance: icons.siBehance.svg,
    bilibili: icons.siBilibili.svg,
    bluesky: icons.siBluesky.svg,
    clubhouse: icons.siClubhouse.svg,
    codepen: icons.siCodepen.svg,
    dailymotion: icons.siDailymotion.svg,
    dev: icons.siDevdotto.svg, // "dev" uses a different key
    discord: icons.siDiscord.svg,
    dribbble: icons.siDribbble.svg,
    facebook: icons.siFacebook.svg,
    flickr: icons.siFlickr.svg,
    github: icons.siGithub.svg,
    goodreads: icons.siGoodreads.svg,
    instagram: icons.siInstagram.svg,
    "ko-fi": icons.siKofi.svg,
    lemmy: icons.siLemmy.svg,
    letterboxd: icons.siLetterboxd.svg,
    mastodon: icons.siMastodon.svg,
    medium: icons.siMedium.svg,
    myspace: icons.siMyspace.svg,
    patreon: icons.siPatreon.svg,
    peertube: icons.siPeertube.svg,
    pinterest: icons.siPinterest.svg,
    producthunt: icons.siProducthunt.svg,
    quora: icons.siQuora.svg,
    reddit: icons.siReddit.svg,
    rumble: icons.siRumble.svg,
    signal: icons.siSignal.svg,
    sinaweibo: icons.siSinaweibo.svg,
    slack: icons.siSlack.svg,
    snapchat: icons.siSnapchat.svg,
    soundcloud: icons.siSoundcloud.svg,
    steam: icons.siSteam.svg,
    substack: icons.siSubstack.svg,
    telegram: icons.siTelegram.svg,
    threads: icons.siThreads.svg,
    "threads.net": icons.siThreads.svg, // Alias for Threads
    tiktok: icons.siTiktok.svg,
    tumblr: icons.siTumblr.svg,
    twitch: icons.siTwitch.svg,
    twitter: icons.siX.svg, // it's still Twitter tho
    vk: icons.siVk.svg,
    wechat: icons.siWechat.svg,
    whatsapp: icons.siWhatsapp.svg,
    wordpress: icons.siWordpress.svg,
    xing: icons.siXing.svg,
    youtube: icons.siYoutube.svg,
};

const icon = social === "email" ? emailSVG : iconMap[social] || defaultSVG;
---

<a
    aria-label={social}
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class=`social-links text-xl text-theme-fg-secondary hover:text-theme-color-primary transition-colors ${className}`
>
    <p class="sr-only">{social}</p>
    <span set:html={icon} class:list={["size-6 block", iconClasses]} />
</a>
