---
import { Image } from "astro:assets";
import type { Media } from "@lib/payload/payload-types";
import { getImageSrc } from "@lib/payload/utils";

interface Props {
    image: Media;
    blockId: string;
    caption?: string;
}
const { image, blockId, caption } = Astro.props as Props;
---

<div class="relative">
    <!-- Hidden checkbox to toggle fullscreen -->
    <input type="checkbox" id={`checkbox-${blockId}`} class="peer hidden" />

    <!-- Inline Image -->
    <div class="flex flex-col gap-2 text-center px-8 lg:px-16">
        <label for={`checkbox-${blockId}`} class="cursor-zoom-in">
            <div class="img-tint rounded-2xl overflow-hidden">
                <Image
                    src={getImageSrc(image.url!)}
                    alt={image.alt}
                    width={image.width!}
                    height={image.height!}
                    class="w-full h-auto"
                />
            </div>
        </label>
        {caption && <span class="description text-sm">{caption}</span>}
    </div>

    <!-- Fullscreen Overlay -->
    <div
        class="fixed inset-0 z-[999] hidden peer-checked:flex items-center justify-center bg-black/50"
    >
        <label for={`checkbox-${blockId}`} class="cursor-zoom-out">
            <Image
                src={getImageSrc(image.url!)}
                alt={image.alt}
                width={image.width!}
                height={image.height!}
                class="w-full max-h-screen"
                aria-hidden="true"
            />
        </label>
    </div>
</div>
